<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col w-sm bg-light dk b-r bg-auto">
        <div class="wrapper b-b bg">
            <a>消息中心</a>
        </div>
        <div class="wrapper hidden-sm hidden-xs" id="email-menu">
            <ul class="nav nav-pills nav-stacked nav-sm">
                <li ng-repeat="item in dataStateList" ng-class="{'active':currentType==item.dataState}">
                    <a ng-click="switchType(item.dataState)">
                        {{item.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div ui-view ></div>
    </div>
</div>