# Created by .ignore support plugin (hsz.mobi)
node_modules
.idea
*.iml
out
gen
logs
*.log
npm-debug.log
coverage
www/bower_components
!www/bower_components/angular-ui-xmomen/ui-xmomen.js
build
dist
rev
csslint_report*
temp