<div class="wrapper-md">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">
          基本资料
        </div>
        <div class="panel-body">
          <form class="form-horizontal" name="userForm">
            <div class="form-group">
              <label class="col-lg-2 control-label">头像</label>
              <div class="col-lg-10">
                <a href class="thumb-lg pull-left m-r" ng-click="openAvatar()" style="width: 96px;height: 96px;">
                  <img src="{{user.avatarUrl ?  account.avatarUrl:'img/a0.jpg'}}" class="img-circle" onerror="this.src='img/a0.jpg';">
                </a>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">用户名</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="username" placeholder="请输入用户名"
                       disabled
                       data-msg-required="用户名必填"
                       required="true"
                       data-rule-maxlength="30"
                       data-msg-maxlength="用户名字符长度限制[0,30]"
                       ng-model="user.username">
              </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">真实姓名</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="nickname" placeholder="请输入真实姓名"
                       disabled
                       data-rule-maxlength="50"
                       data-msg-maxlength="真实姓名字符长度限制[0,50]"
                       ng-model="user.nickname">
              </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">邮箱</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="email" placeholder="请输入邮箱"
                       disabled
                       data-rule-maxlength="30"
                       data-msg-maxlength="邮箱字符长度限制[0,30]"
                       ng-model="user.email">
              </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">手机号码</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="phoneNumber" placeholder="请输入手机号码"
                       disabled
                       data-rule-maxlength="20"
                       data-msg-maxlength="手机号码字符长度限制[0,20]"
                       ng-model="user.phoneNumber">
              </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">注册时间</label>
              <div class="col-sm-10">
                <span class="form-control" disabled ng-bind="user.createdTime | date:'yyyy-MM-dd hh:mm:ss'"></span>
              </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">最后登录时间</label>
              <div class="col-sm-10">
                <span class="form-control" disabled ng-bind="user.lastLoginTime | date:'yyyy-MM-dd hh:mm:ss'"></span>
              </div>
            </div>
            <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->
            <!--<div class="form-group">-->
              <!--<div class="col-sm-4 col-sm-offset-2">-->
                <!--<button type="submit" class="btn btn-default" ng-click="update()">修改</button>-->
                <!--<button type="submit" class="btn btn-default" ng-click="cancel()">取消修改</button>-->
                <!--<button type="submit" class="btn btn-primary" ng-click="saveUser()">保存修改</button>-->
              <!--</div>-->
            <!--</div>-->
          </form>
        </div>
      </div>
    </div>
</div>


<script type="text/ng-template" id="update_avatar.html">
    <div class="modal-header">
      <h3 class="modal-title">更换头像</h3>
    </div>
    <div class="modal-body">
      <div class="m-b">
        选择上传图片
        <input type="file" id="fileInput" />
      </div>
      <div class="hbox hbox-auto-xs">
        <div class="col">
          <div class="wrapper-sm b-a bg-white m-r-xs m-b-xs">
            <div class="bg-light" style="height:320px">
              <img-crop
                      image="avatarImage"
                      result-image="croppedImage"
                      result-image-size="160"
                      area-type="'circle'"
              ></img-crop>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="inline bg-white wrapper-sm b-a">
            <div class="bg-light">
              <img ng-src="{{croppedImage}}" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" btn-loading="loading" btn-loading-text="上传中" class="btn btn-primary" ng-click="doUpload()" >上传</button>
      <button type="button" class="btn btn-default" ng-click="cancel()">
        <i class="icon icon-close"></i>&nbsp;关闭
      </button>
    </div>
</script>