<div class="wrapper-md" >
    <div class="panel panel-default">
    <div class="panel-heading font-bold">
      安全设置
    </div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-lg-2 control-label">头像</label>
          <div class="col-lg-10">
            <a href class="thumb-lg pull-left m-r" ng-click="openAvatar()" style="width: 96px;height: 96px;">
              <img src="{{account.avatarUrl ?  account.avatarUrl:'img/a0.jpg'}}" class="img-circle" onerror="this.src='img/a0.jpg'">
            </a>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-lg-2 control-label font-bold">用户名</label>
          <div class="col-lg-10">
            <p class="form-control-static" ng-bind="account.username"></p>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-lg-2 control-label font-bold">登录密码</label>
          <div class="col-lg-8">
            <p class="form-control-static">安全性高的密码可以使帐号更安全。建议您定期更换密码，设置一个包含字母，符号或数字中至少两项且长度超过6位的密码。</p>
          </div>
          <div class="col-lg-2">
            <span class="pull-right m-t-xs">｜<a class="font-bold text-info" data-ng-click="openUpdatePassword()">修改</a></span>
            <span class="label bg-primary pull-right m-t-xs">已设置</span>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-lg-2 control-label font-bold">邮箱绑定</label>
          <div class="col-lg-8">
            <p class="form-control-static" ng-if="account.email">您已绑定了邮箱［{{account.email}}］，您的邮箱可以直接用于登录、找回密码等。</p>
            <p class="form-control-static error" ng-if="!account.email">
              <i class="icon icon-info"></i>&nbsp;&nbsp;您尚未绑定邮箱，绑定邮箱后可以直接用于登录、找回密码等
            </p>
          </div>
          <div class="col-lg-2" ng-if="account.email">
            <span class="pull-right m-t-xs">｜<a class="font-bold text-info" data-ng-click="bind(2)">修改</a></span>
            <span class="label bg-primary pull-right m-t-xs">已设置</span>
          </div>
          <div class="col-lg-2" ng-if="!account.email">
            <span class="pull-right m-t-xs">｜<a class="font-bold text-info" data-ng-click="bind(2)">绑定</a></span>
            <span class="label bg-danger pull-right m-t-xs">未设置</span>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-lg-2 control-label font-bold">手机绑定</label>
          <div class="col-lg-8">
            <p class="form-control-static" ng-if="account.phoneNumber">您已绑定了手机［{{account.phoneNumber}}］，您的手机号可以直接用于登录、找回密码等。</p>
            <p class="form-control-static error" ng-if="!account.phoneNumber">
              <i class="icon icon-info"></i>&nbsp;&nbsp;您尚未绑定手机号码，绑定手机后可以直接用于登录、找回密码等
            </p>
          </div>

          <div class="col-lg-2" ng-if="!account.phoneNumber">
            <span class="pull-right m-t-xs">｜<a class="font-bold text-info" data-ng-click="bind(1)">绑定</a></span>
            <span class="label bg-danger pull-right m-t-xs">未设置</span>
          </div>
          <div class="col-lg-2" ng-if="account.phoneNumber">
            <span class="pull-right m-t-xs">｜<a class="font-bold text-info" data-ng-click="bind(1)">修改</a></span>
            <span class="label bg-primary pull-right m-t-xs">已设置</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/ng-template" id="updatePassword.html">
  <div class="modal-header">
    <h3 class="modal-title">修改密码</h3>
  </div>
  <div class="modal-body">
    <form class="bs-example form-horizontal" name="form" uia-form>
      <div class="form-group">
        <label class="col-lg-2 control-label">旧密码</label>
        <div class="col-lg-10">
          <input id="oldPassword" name="oldPassword" type="password" placeholder="请输入旧密码"
                 data-rule-minlength="6" ng-model="user.oldPassword" class="form-control" required>
          <span class="help-block m-b-none error"><i class="icon icon-info"></i>&nbsp;注：更新密码成功后，需要重新登录。</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">新密码</label>
        <div class="col-lg-10">
          <input id="password" name="password" type="password" placeholder="请输入6位以上的新密码"
                 data-rule-minlength="6"
                 ng-model="user.password" class="form-control" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">确认新密码</label>
        <div class="col-lg-10">
          <input id="repeatPassword" name="repeatPassword" type="password" placeholder="请再次输入密码"
                 data-msg-equalTo="两次输入的密码不一致"
                 data-rule-equalTo="#password"
                 ng-model="user.repeatPassword" class="form-control" required>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="resetPassword()" >提交</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">
      <i class="icon icon-close"></i>&nbsp;关闭
    </button>
  </div>
</script>

<script type="text/ng-template" id="bind.html">
  <form class="bs-example form-horizontal" name="form" uia-form>
  <div class="modal-header">
    <h3 class="modal-title" ng-bind="Option.title"></h3>
  </div>
  <div class="modal-body">
      <div class="form-group" ng-if="Option.type == 1">
        <label class="col-lg-2 control-label">手机号码</label>
        <div class="col-lg-10">
          <input id="phone" name="phone" type="text" placeholder="请输入绑定的手机号码"
                 data-rule-telephone="true" ng-model="user.phone" class="form-control" required>
        </div>
      </div>
      <div class="form-group" ng-if="Option.type == 2">
        <label class="col-lg-2 control-label">邮箱</label>
        <div class="col-lg-10">
          <input id="email" name="email" type="text" placeholder="请输入绑定的邮箱"
                 data-rule-email="true" ng-model="user.email" class="form-control" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">验证码</label>
        <div class="col-lg-10">
          <div class="input-group">
            <input name="code" type="text" placeholder="请输入验证码" ng-model="user.code" class="form-control" required>
            <span class="input-group-addon"
                  ng-click="sendCode()" ng-bind="Option.message"></span>
          </div>
        </div>
      </div>

  </div>
  <div class="modal-footer">
    <button type="submit" ng-disabled="form.$invalid" btn-loading="loading" class="btn btn-primary" ng-click="bind()" >提交</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">
      <i class="icon icon-close"></i>&nbsp;关闭
    </button>
  </div>
  </form>
</script>