<div class="wrapper-md" >
    <div class="panel panel-default">
    <div class="panel-heading font-bold">
      安全设置
    </div>
    <div class="panel-body">
      <form class="form-horizontal" method="get">
        <div class="form-group">
          <label class="col-lg-2 control-label">头像：</label>
          <div class="col-lg-10">
            <a href class="thumb-lg pull-left m-r">
              <img src="img/a0.jpg" class="img-circle">
            </a>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-lg-2 control-label font-bold">用户名</label>
          <div class="col-lg-10">
            <p class="form-control-static" ng-bind="account.username"></p>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-lg-2 control-label font-bold">登录密码</label>
          <div class="col-lg-8">
            <p class="form-control-static">安全性高的密码可以使帐号更安全。建议您定期更换密码，设置一个包含字母，符号或数字中至少两项且长度超过6位的密码。</p>
          </div>
          <div class="col-lg-2">
            <span class="pull-right m-t-xs">｜<a class="font-bold text-info" data-ng-click="settingPassword()">修改</a></span>
            <span class="label bg-primary pull-right m-t-xs">已设置</span>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-lg-2 control-label font-bold">邮箱绑定</label>
          <div class="col-lg-8">
            <p class="form-control-static" ng-if="account.email">您已绑定了邮箱［{{account.email}}］，您的邮箱可以直接用于登录、找回密码等。</p>
            <p class="form-control-static error" ng-if="!account.email">
              <i class="icon icon-info"></i>&nbsp;&nbsp;您尚未绑定邮箱，绑定邮箱后可以直接用于登录、找回密码等
            </p>
          </div>
          <div class="col-lg-2" ng-if="account.email">
            <span class="pull-right m-t-xs">｜<a class="font-bold text-info" data-ng-click="bindEmail()">修改</a></span>
            <span class="label bg-primary pull-right m-t-xs">已设置</span>
          </div>
          <div class="col-lg-2" ng-if="!account.email">
            <span class="pull-right m-t-xs">｜<a class="font-bold text-info" data-ng-click="bindEmail()">绑定</a></span>
            <span class="label bg-danger pull-right m-t-xs">未设置</span>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <label class="col-lg-2 control-label font-bold">手机绑定</label>
          <div class="col-lg-8">
            <p class="form-control-static" ng-if="account.phoneNumber">您已绑定了手机［{{account.phoneNumber}}］，您的手机号可以直接用于登录、找回密码等。</p>
            <p class="form-control-static error" ng-if="!account.phoneNumber">
              <i class="icon icon-info"></i>&nbsp;&nbsp;您尚未绑定手机号码，绑定手机后可以直接用于登录、找回密码等
            </p>
          </div>

          <div class="col-lg-2" ng-if="!account.phoneNumber">
            <span class="pull-right m-t-xs">｜<a class="font-bold text-info" data-ng-click="bindPhone()">绑定</a></span>
            <span class="label bg-danger pull-right m-t-xs">未设置</span>
          </div>
          <div class="col-lg-2" ng-if="account.phoneNumber">
            <span class="pull-right m-t-xs">｜<a class="font-bold text-info" data-ng-click="bindPhone()">修改</a></span>
            <span class="label bg-primary pull-right m-t-xs">已设置</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>