<div class="panel panel-default">
    <div class="panel-heading">
        {{gridOption.title}}
        <div class="btn-group" dropdown is-open="isopen">
            <!--<button type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">-->
                <!--Button dropdown <span class="caret"></span>-->
            <!--</button>-->
            <i class="icon icon-cloud-download" uib-tooltip="导出" ng-click="exportEvent()"></i>
            <i class="icon icon-cloud-upload" uib-tooltip="导入" ng-click="viewEvent()"></i>
            <i class="icon icon-eye" uib-tooltip="查看" ng-click="viewEvent()"></i>
            <i class="icon icon-plus" uib-tooltip="添加" ng-click="addEvent()"></i>
            <i class="icon icon-trash" uib-tooltip="删除" ng-click="removeEvent()"></i>
            <i class="icon icon-refresh" uib-tooltip="刷新" ng-click="search()"></i>
        </div>
    </div>
    <div class="row wrapper">
        <form class="bs-example">
            <div class="form-group col-md-4"  ng-repeat="filterColumn in gridOption.filters" >
                <label for="{{filterColumn.name}}" class="control-label" ng-bind="filterColumn.title"></label>
                <div>
                    <!--    日期      -->
                    <input class="form-control" type="text" id="{{filterColumn.name}}" name="filterColumn.name"
                           ng-if="filterColumn.type=='date'" uia-date
                           ng-model="queryParams[filterColumn.name]"
                           placeholder="{{filterColumn.placeholder}}">
                    <!--    文本      -->
                    <input class="form-control" type="text" id="{{filterColumn.name}}" name="filterColumn.name"
                           ng-if="!filterColumn.type || filterColumn.type=='text'"
                           ng-model="queryParams[filterColumn.name]"
                           placeholder="{{filterColumn.placeholder}}">
                    <!--    选择框    -->
                    <select class="form-control" id="{{filterColumn.name}}" name="filterColumn.name"
                            ng-if="filterColumn.type == 'select'" uia-select chosen
                            dict-code="filterColumn.dictCode"
                            ng-model="queryParams[filterColumn.name]">
                        <option value="">请选择</option>
                    </select>
                    <!--    弹出选择框      -->
                    <input class="form-control" type="text" id="{{filterColumn.name}}" name="filterColumn.name" ng-if="filterColumn.type=='choice'"
                           uia-choice choice-option="filterColumn.choiceOption" choice-model-label="queryParams[filterColumn.choiceModelLabel]"
                           ng-model="queryParams[filterColumn.name]" placeholder="{{filterColumn.placeholder}}">
                </div>
            </div>
        </form>
    </div>
    <div class="table">
        <table class="table table-striped b-t b-light">
            <thead>
            <tr>
                <th>
                    <label class="i-checks m-b-none">
                        <input type="checkbox"
                               name="checkAll"
                               data-ng-click="checkAll()"
                               ng-model="gridSetting.checkAll"><i></i>
                    </label>
                </th>
                <th data-ng-click="sort(columnValue.name)" ng-repeat="(columnKey, columnValue) in gridOption.columns">
                    <span ng-bind="columnValue.title"></span>
                    <i ng-if="gridOption.showOrderBy" ng-class="iconsort===columnValue.name ? (sortway ? 'icon-caret-down':'icon-caret-up'):'icon-sort'" class="sort"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-dblclick="dbcEvent(item)"
                ng-repeat="item in gridOption.data"
                data-ng-click="choiceEvent(item)">
                <td>
                    <label class="i-checks m-b-none">
                        <input type="checkbox"
                               ng-model="item.checked"
                               data-ng-click="changeItemChecked()"
                               data-ng-checked="item.checked"
                               data-ng-true-value="true"
                               data-ng-false-value="false"><i></i>
                    </label>
                </td>
                <td ng-repeat="(columnKey, columnValue) in gridOption.columns" ng-class="{'uia-checkbox':columnValue.type == 'checkbox'}">
                    <!--    文本框    -->
                    <div ng-bind="item[columnValue.name]" ng-if="!columnValue.type||columnValue.type == 'text'"></div>
                    <!--    日期    -->
                    <div ng-bind="formatterValue(item[columnValue.name], columnValue)"
                         ng-if="columnValue.type == 'date' || columnValue.type == 'currency' || columnValue.type == 'number' || columnValue.type == 'myriabit'"></div>
                    <!--    checkbox    -->
                    <div ng-if="columnValue.type == 'checkbox'">
                        <input type="checkbox" disabled ng-model="item[columnValue.name]" ng-checked="columnValue.checked(item)"/>
                    </div>
                    <!--    switch    -->
                    <div ng-if="columnValue.type == 'switch'">
                        <label class="i-switch bg-primary m-r">
                            <input type="checkbox" name="active"
                                   data-ng-true-value="true"
                                   data-ng-false-value="false"
                                   disabled
                                   ng-model="item.active">
                            <i></i>
                        </label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--<div ug-loading-msg ng-if="pageSetting.queryBtnLoading"></div>-->
    <div class="panel-footer table-data-empty" ng-if="!gridOption.data || gridOption.data.length == 0">
        <div class="row">
            <div class="col-sm-12">
                <span><i class="icon icon-info">&nbsp;&nbsp;没有查询到符合条件的数据</i></span>
            </div>
        </div>
    </div>
    <footer class="panel-footer" ng-if="gridOption.data && gridOption.data.length > 0">
        <div class="row">
            <div class="col-sm-4">
                <label class="i-checks m-b-none">
                    <input type="checkbox"
                           name="checkAll"
                           data-ng-click="checkAll()"
                           ng-model="gridSetting.checkAll"
                           data-ng-true-value="true"
                           data-ng-false-value="false"><i></i>
                </label>
            </div>
            <div class="col-sm-8 text-right text-center-xs">
                <uia-pagination page-info="gridOption.pageInfo" template-url="/template/pagination.html" load-parameter="gridOption.queryParam" load-event="search()"></uia-pagination>
            </div>
        </div>
    </footer>
    <script type="text/ng-template" id="box.modal.html" >
        <uia-box box-option="boxOption" template-url="/template/box.html"></uia-box>
    </script>
</div>
