<div class="panel panel-default">
    <div class="panel-heading">
        {{gridOption.title}}
        <div class="uia-btn-group">
            <button class="btn" ng-repeat="btn in gridOption.buttons" ng-if="gridOption.buttons" ng-click="btn.click()"><i class="icon {{btn.icon}}" ng-if="btn.icon">&nbsp;&nbsp;{{btn.label}}</i></button>
            <!--<btn-filter event-click=""></btn-filter>-->
            <i class="icon icon-magnifier" ng-click="viewEvent()"></i>
            <i class="icon icon-plus" ng-click="addEvent()"></i>
            <i class="icon icon-trash" ng-click="removeEvent()"></i>
            <!--<btn-revise event-click="reviseEvent()" ng-if="reviseBtnShow()" permission permission-only="gridOption.reviseBtn.permission"></btn-revise>-->
            <!--<btn-delete event-click="removeEvent()" permission permission-only="gridOption.removeBtn.permission"></btn-delete>-->
            <!--<btn-add event-click="addEvent()" permission permission-only="gridOption.addBtn.permission"></btn-add>-->
            <!--<btn-view event-click="viewEvent()"></btn-view>-->
            <!--<btn-refresh event-click="refreshEvent()"></btn-refresh>-->
        </div>
    </div>
    <div class="row wrapper">
        <div class="col-sm-12">
            <div class="input-group">
                <input type="text" ng-model="queryParam.keyword"
                       data-ng-keyup="getDictionaryList()"
                       class="input-sm form-control" placeholder="请输入关键字进行模糊查询">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default"
                                            btn-loading="pageSetting.queryBtnLoading"
                                            data-ng-click="getDictionaryList()" type="button">
                                        <i class="icon icon-magnifier"></i>&nbsp;&nbsp;查询
                                    </button>
                                    <button class="btn btn-sm btn-default"
                                            data-ng-click="reset()" type="button">
                                        <i class="icon icon-action-redo"></i>&nbsp;&nbsp;重置
                                    </button>
                                    <button class="btn btn-sm btn-default"
                                            data-ng-click="add()" type="button">
                                        <i class="icon icon-plus"></i>&nbsp;&nbsp;新增
                                    </button>
                                </span>
            </div>
        </div>
    </div>
    <div class="table">
        <table class="table table-striped b-t b-light">
            <thead>
            <tr>
                <th>
                    <label class="i-checks m-b-none">
                        <input type="checkbox"
                               name="checkAll"
                               data-ng-click="checkAll()"
                               ng-model="pageSetting.checkAll"><i></i>
                    </label>
                </th>
                <th data-ng-click="sort(columnValue.name)" ng-repeat="(columnKey, columnValue) in gridOption.columns">
                    <span ng-bind="columnValue.title"></span>
                    <i ng-if="gridOption.showOrderBy" ng-class="iconsort===columnValue.name ? (sortway ? 'icon-caret-down':'icon-caret-up'):'icon-sort'" class="sort"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class="{'current-tr': currentChoiceItem.$$hashKey==item.$$hashKey}"
                data-ng-dblclick="dbcEvent(item)"
                ng-repeat="item in gridOption.data"
                data-ng-click="choiceEvent(item)">
                <td>
                    <label class="i-checks m-b-none">
                        <input type="checkbox"
                               ng-model="item.checked"
                               data-ng-click="changeItemChecked()"
                               data-ng-checked="item.checked"
                               data-ng-true-value="true"
                               data-ng-false-value="false"><i></i>
                    </label>
                </td>
                <td ng-repeat="(columnKey, columnValue) in gridOption.columns" ng-class="{'uia-checkbox':columnValue.type == 'checkbox'}">
                    <!--    文本框    -->
                    <div ng-bind="item[columnValue.name]" ng-if="!columnValue.type||columnValue.type == 'text'"></div>
                    <!--    日期    -->
                    <div ng-bind="formatterValue(item[columnValue.name], columnValue)"
                         ng-if="columnValue.type == 'date' || columnValue.type == 'currency' || columnValue.type == 'number' || columnValue.type == 'myriabit'"></div>
                    <!--    checkbox    -->
                    <div ng-if="columnValue.type == 'checkbox'">
                        <input type="checkbox" disabled ng-model="item[columnValue.name]" ng-checked="columnValue.checked(item)"/>
                    </div>
                    <!--    switch    -->
                    <div>
                        <label class="i-switch bg-primary m-r">
                            <input type="checkbox" name="active"
                                   data-ng-true-value="true"
                                   data-ng-false-value="false"
                                   disabled
                                   ng-model="item.active">
                            <i></i>
                        </label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ug-empty-data-msg ng-if="(!gridOp || dictionaryList.length == 0) && !pageSetting.queryBtnLoading"></div>
    <!--<div ug-loading-msg ng-if="pageSetting.queryBtnLoading"></div>-->
    <footer class="panel-footer" ng-if="dictionaryList && dictionaryList.length > 0 && !pageSetting.queryBtnLoading">
        <div class="row">
            <div class="col-sm-6">
                <label class="i-checks m-b-none">
                    <input type="checkbox"
                           name="checkAll"
                           data-ng-click="checkAll()"
                           ng-model="pageSetting.checkAll"
                           data-ng-true-value="true"
                           data-ng-false-value="false"><i></i>
                </label>
                <div class="btn-group open" dropdown="">
                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>
                        批量操作&nbsp;&nbsp;
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:void(0)" data-ng-click="batchExport($index)"><i class="fa fa-download">&nbsp;&nbsp;批量导出</i></a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)" data-ng-click="batchDelete($index)"><i class="fa fa-trash">&nbsp;&nbsp;批量删除</i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <uia-pagination page-info="gridOption.pageInfo" template-url="/template/pagination.html" load-parameter="gridOption.queryParam" load-event="search()"></uia-pagination>
            </div>
        </div>
    </footer>
</div>