<!-- list -->
<ul class="nav">

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span>常用导航</span>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.dashboard">
      <i class="glyphicon glyphicon-th-large icon text-success"></i>
      <span>仪表盘</span>
    </a>
  </li>

  <li class="line dk"></li>


  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span>系统设置</span>
  </li>


  <li ui-sref-active="active" ng-repeat="item in navMenu" ng-if="item.title" permission permission-only="item.permission">
    <a ng-href="{{$state.href(item.name)}}">
      <i ng-class="item.icon ? item.icon : 'fa fa-th-list' "></i>
      <span ng-bind="item.title"></span>
    </a>
  </li>

  <li class="line dk hidden-folded"></li>

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">          
    <span translate="aside.nav.your_stuff.YOUR_STUFF">我的资料</span>
  </li>  
  <li>
    <a ui-sref="app.account">
      <i class="icon-user icon text-success-lter"></i>
      <b class="badge bg-success pull-right">30%</b>
      <span translate="aside.nav.your_stuff.PROFILE">基本资料</span>
    </a>
  </li>
  <li>
    <a ui-sref="app.security">
      <i class="icon-settings icon"></i>
      <span translate="aside.nav.your_stuff.MEDIA_HUB">安全设置</span>
    </a>
  </li>
  <li permission="" permssion-only="'PERMISSION:VIE'">
    <a ui-sref="app.documents">
      <i class="icon-question icon"></i>
      <span translate="aside.nav.your_stuff.DOCUMENTS">帮助文档</span>
    </a>
  </li>
</ul>
<!-- / list -->